body {
    background-color: rgb(2, 162, 255);
    font: normal 12pt Arial;
    color: white;
}
header {
    text-align: center;
}

section {
    color: black;
    background-color: rgb(255, 255, 255);
    width: 370px;
    line-height: 20px;
    margin-top: 50px;
    margin-left: 460px;
    border-radius: 7px;
    box-shadow: 5px 5px 10px black;
    margin: auto;
    padding: 5px;
}

div#div01 {
   margin-left: 20px; 
}

div#div02 {
    margin-left: 30px;
}

footer {
    margin-top: 200px;
    text-align: center;
}