body {
    background-color: rgb(23, 172, 222);
    font-family: Arial;
    color: white;
    font-size: 12pt;
}

header, footer {
    text-align: center;
}

section {
    background-color: white;
    color: black;
    width: 400px;
    text-align: left;
    margin-left: 470px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.471);
    margin: auto;
    line-height: 20px;
}

div#text {
    margin-left: 20px;
}

div#ans {
    margin-left: 20px;
}